<!--<div class="row mt-4 mb-3">
  <div class="col">
    <h4 style="color:dodgerblue; font-weight:bold">Customers</h4>
  </div>
  <div class="col text-right">
    <button class="btn btn-secondary" (click)="CreateNewCustomer()">New Customer</button>
  </div>
</div>-->
<app-second-title-with-button [actionTitle]="title"  [buttonTitle]="btnTitle"  (onChanged)="onChanged()"></app-second-title-with-button>

<p *ngIf="!customers"><em>Loading...</em></p>

<div class="secondborder">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="customers">
    <thead>
      <tr>
        <th class="text-center">Customer Name</th>
        <th class="text-center">Customer Address</th>
        <th class="text-center">Total Ordered Cost</th>
        <th class="text-center">Orders Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td class="text-center">{{customer.name}}</td>
        <td class="text-center">{{customer.address}}</td>
        <td class="text-center">{{customer.totalOrderCost}}</td>
        <td class="text-center">{{customer.OrdersCount}}</td>
      </tr>
    </tbody>
  </table>
</div>
